# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/PetCareBuild

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.db
*.zip
*.rar

/.idea

*.env
.vs/

yarn.lock