.App {
	margin: 0;
	text-align: center;
	margin-top: 2em;
}

#root {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-size: 5em;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.demoButton {
	font-size: large;
	padding: 1em;
}
