<!DOCTYPE html>
<html>
<body>
    <head>
        <title><%=title%></title>
    </head>
    <div class="page-header">
        <h2><%=title%></h2>
        <hr>
        <a href="/users" class="menu_links">Employee</a>
    </div>
</body>
</html>